/* Navigation Bar */
#navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #40514e;
  color: white;
  text-align: center;
  z-index: 999;
}

#navBar a {
  padding: 15px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

#navBar a.active {
  background-color: #11999e;
}

/* ScrollSpy */
#profile-section,
#skills-section,
#contact-section {
  padding-top: 60px;
  /* Height of the navigation bar */
  margin-top: -60px;
  /* Height of the navigation bar */
}

.section {
  transition: opacity 1s ease-in-out;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}
/******1em = 16px =100% ---> 90px = 5.625em  ********/
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  /***6px is the width***/
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 300px auto 100px;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.nav-item a:hover {
  background-color: #9beeda;
  color: #000000; /* Optional: You can set the text color when hovering */
}

.top-container {
  background-color: #e4f9f5;
  /****** top;right;bottom;left   *******/
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  position: relative;
  left: 25%;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  color: #40514e;
}

.NEU-img {
  width: 10%;
  float: up;
  margin-right: 10px;
}

.design-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.coder-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.experience {
  margin: 50px 0;
}

.experience-item {
  margin: 20px 0;
}

.experience-title {
  font-weight: bold;
}

.experience-date {
  font-style: italic;
}

.experience-entry ul {
  margin-left: 20px;
}

.project-entry ul {
  margin-left: 20px;
}

.e-commerce {
  width: 70%;
  float: top;
  margin-left: 30px;
}

.checkout {
  width: 80%;
  float: top;
  margin-left: 30px;
}

.e-commerce {
  transition: 0.3s;
}

.image-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-overlay:hover {
  opacity: 1;
}

.view-more-text {
  font-size: 24px;
}

.game {
  width: 50%;
  float: top;
  margin-left: 30px;
}

/* Add this code */
.hover-overlay {
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.project-entry:hover .hover-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
